
/mhealth-text-job/.env
/mhealth-voice-job/.env
/__pycache__/celeryWorker.cpython-310.pyc
/__pycache__/processTextMessage.cpython-310.pyc
/__pycache__/tasks.cpython-310.pyc
/models/__pycache__/model.cpython-310.pyc